# Hostex API integration (Input if you have an active Hostex plan, or leave blank. You can still test the app using the test calendar.)
HOSTEX_API_TOKEN=

# Better Auth
# Generate with: openssl rand -base64 32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Database
# Matches the docker-compose.yml service by default
# If you don't want to use Docker, you can set up a virtual postgreSQL instance on prisma.io for free.
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/myapp
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/myapp
PRISMA_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/myapp
