@import "tailwindcss";
@import "react-big-calendar/lib/sass/styles.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, -apple-system, sans-serif;
}

/* react-big-calendar styling changes: */
.rbc-row-content {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rbc-event-content {
  font-size: 0.8rem;
}